<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Index</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body>
	<div class="content">
		<h1 class="title">Hello !</h1>
		<div>
			<button class="mainBtn" onclick="window.location.href='/login'">登入</button>
			<button class="mainBtn" onclick="window.location.href='/register'">註冊</button>
			<button class="mainBtn" onclick="window.location.href='/users'">會員資料</button>
		<div id="msg" th:if="${session.LoginOK == null}">請先登入會員</div>    
		</div>
	</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>		
<script th:src="@{/js/bootstrap.min.js}"></script>		
</body>
</html>